<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
	<head >
	<meta charset="UTF-8"/>
	<title>this is home</title>
	</head>
<body>
<section class="banner d-flex justify-content-center align-items-center" >
<div class="text-center">
<h1 class="font-weight-bold">Smart Contact Manager</h1>
<p><li>Contact managers help users seamlessly coordinate and handle all prospects,</li>
 <li> contacts and customer data from a single application. 
 <li> managers also facilitate easy setup and monitoring of direct marketing campaigns</li></p>
  <button class="btn btn-primary btn-lg text-white">Start</button>
</div>
</section>
</body>
</html>