<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" 
th:replace="base::layout(~{::section})">
	<head >
	<meta charset="UTF-8"/>
	<title>this is home</title>
	</head>
<body>
<section>
	<div class="container">
		<div class="row">
			<div class="col-md-6 offset-md-3">
			
				<div class="my-card mt-3">
				<div class="text-center">
				<!--Show Alert dynamic message -->
				<div th:if="${session.message}" th:classappend="${session.message.type}" class="alert alert-primary" role="alert">
  					<p th:text="${session.message.content}"></p>
  					<th:block th:text="${#session.removeAttribute('message')}"></th>
				</div>
				<img  style="width: 80px;" src="" th:src="@{/img/add-friend.png}"></img>
				</div>
				
				<h3 class="text-center">SIGN UP HERE</h3>
				
				<form novalidate method="post" th:action="@{/user_register}" action="" th:object="${user}">
				<!--Name Field -->
				
			 	<div class="mb-3">
    				<label for="for_name" class="form-label">Name</label>
    				<b><label class="text-danger">*</label></b> 
    				<input name="name" 
    				placeholder="Enter Your Name Here" 
    				required type="text" 
    				class="form-control"
    				th:classappend="${#fields.hasErrors('name')? 'is-invalid' : ''}"
    				id="for_name" 
    				aria-describedby="emailHelp"
    				th:value=${user.name}
    				/>
						<div id="validationServerUsernameFeedback" class="invalid-feedback" 
						th:each="e :${#fields.errors('name')}" th:text="${e}">
       					
      					</div>
 				
 				<!--Email Field -->
			 	<div class="mb-3">
    				<label for="for_email" class="form-label">Email address</label>
    				<b><label class="text-danger">*</label></b> 
    				<input name="email" 
    				placeholder="Enter Your Email Here" required type="email" 
    				class="form-control" 
    				th:classappend="${#fields.hasErrors('email')? 'is-invalid' : ''}"
    				id="for_email" 
    				aria-describedby="emailHelp
    				 "th:value=${user.email}>
    				<div id="validationServerUsernameFeedback" class="invalid-feedback" 
						th:each="e :${#fields.errors('email')}" th:text="${e}">
       					
      					</div>
 				</div>
 				
 				<!--Password Field -->
			 	<div class="mb-3">
    				<label for="for_password" class="form-label">Password</label>
    				<b><label class="text-danger">*</label></b> 
    				<input th:value=${user.password}
    				name="password" 
    				placeholder="Enter Your Password Here" required type="password" 
    				class="form-control" 
    				th:classappend="${#fields.hasErrors('password')? 'is-invalid' : ''}"
    				id="for_password" aria-describedby="emailHelp">
    				
    				<div id="validationServerUsernameFeedback" class="invalid-feedback" 
						th:each="e :${#fields.errors('password')}" th:text="${e}">
       					
      					</div>
 				</div>
 				
 				<!--about Field -->
			 	<div class="form-group">
    				<label for="for_about" class="form-label">About yourself</label>
    				<b><label class="text-danger">*</label></b> 
    				<textarea 
    				name="about" placeholder="Enter Your about Here" required type="text" 
    				class="form-control" 
    				th:classappend="${#fields.hasErrors('about')? 'is-invalid' : ''}"
    				id="for_about" aria-describedby="emailHelp" th:text=${user.about}>
    				</textarea>
    				<div id="validationServerUsernameFeedback" class="invalid-feedback" 
						th:each="e :${#fields.errors('name')}" th:text="${e}">
       					
      					</div><div id="validationServerUsernameFeedback" class="invalid-feedback" 
						th:each="e :${#fields.errors('about')}" th:text="${e}">
       					
      					</div>
 				</div>
 				
 				<!--form terms and condition -->
 				<div class="form-group form check ">
 				<input  type="checkbox" name="agreement" id="agreement"></input>
 				<lable>Accept terms and condition</lable>
 				</div>
 					<div class="container text-center">
 					<button type="submit" class="btn btn-primary">Sign up</button>
 					<button type="reset" class="btn btn-warning ">Reset</button>
 					
 					</div>
 					
 				
				</form>
				
				</div>
			
			
			</div>
		</div>
	</div>
</section>
</body>
</html>